<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutoQA Pro Suite" parallel="tests" thread-count="2">

    <!-- Listener for reporting + screenshots -->
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Login Module Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Product Module Tests">
        <classes>
            <class name="tests.ProductTest"/>
        </classes>
    </test>

    <test name="Cart Module Tests">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>

    <test name="Checkout Module Tests">
        <classes>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>

    <test name="Form Validation Tests">
        <classes>
            <class name="tests.FormValidationTest"/>
        </classes>
    </test>

</suite>